.container{
    width: 454px;
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

   background: rgba(255, 255, 255, 0.1);         /* semi-transparent */
   backdrop-filter: blur(10px);                 /* actual blur */
   -webkit-backdrop-filter: blur(10px);         /* for Safari */
   border: 1px solid rgba(255, 255, 255, 0.2);   /* subtle border */
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);    /* soft shadow */
}

.header h1{
    color: #06923E;
    font-size: 2.3rem;
}
.underline{
    border: 3px solid #06923E;
    border-radius: 10px;
}

.input_container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 2px 8px;
    background: #eaeaea;
    border-radius: 5px;
}

input{
    border: none;
    outline: none;
    padding: 10px 12px;
    color: #262626;
    background: #eaeaea;
    font-size: 16px;
}
.submit_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

}
.submit_container .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #06923E;
    padding: 12px 32px;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    width: 150px;
    height: 39px;
}
.submit:hover{
    background: #93DA97;
    color: #212121;
    transition: linear .3s;
}

.loginSection{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
}

.loginSection p{
    color: #212121;
    font-weight: 500;
}

.login_span{
    color: blue;
    cursor: pointer;
    font-weight: 600;
}

.forget_password{
    cursor: pointer;
    color: crimson;
}